@charset "UTF-8";

@media screen and (min-width: 346px) and (max-width:846px){
 
    .relogio{
        width: 350px;
        gap: 25px;
        height: 150px;
        padding: 10px;
        overflow: hidden;
        
    }

    .relogio > div{
        height: 100px;
        padding: 10px;
    }
}